<div style='border: 10px dashed brown'>
    <% if @visitor == 'Ken' %>
       You are a piece of shit!
    <% elsif @visitor %>
       Hello, <%= @visitor %>!
    <% else %>
       <form action='/hello'>
       My name is <%= @names %>!
       What is your name?
       <input type='text' name='name'>
       <input type='submit' name='Submit'>
       </form>
    <% end %>
  <img src='/images/dog.png'>
</div>